.card {
    position: relative;
    height: 400px;
    width: 320px;
    margin: 30px;
}

.card-image {
    border-radius: 10px;
}

.card-titulo {
    position: absolute;
    top: 350px;
    height: 50px;
    width: 320px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 1s;
}

.card-titulo:hover {
    top: 0px;
    height: 400px;
}

.card-titulo h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}